<% if (!config.isMobile) { %>
<section class="iapp-entry-details <%= party %>">
<%}%>

<div class="iapp-detail-summary iapp-entry-module">
    <h4 class="iapp-entry-module-header">Overall Facebook activity</h4>
    <div class="iapp-entry-details-large-number tri-down">
        <h3 class="iapp-entry-details-large-number-text"><%= interactions_pretty %></h3>
        
    </div>
    <div class="iapp-fb-unit-badge"> <img src="<% print(config.imageDir + "fb-icon.png") %>" alt="likes, shares, mentions">Likes, Shares, Mentions</div>

</div>
<div class="iapp-entry-details-demographics iapp-entry-module">
    <h4 class="iapp-entry-module-header">Who's in the conversation</h4>
    <div class="iapp-entry-details-demographics-overall">
        <div class="iapp-entry-details-demographics-overall-headers">
            <span class="iapp-demo-headers-female">Female</span>
            <span class="iapp-demo-headers-male">Male</span>
        </div>
        <div class="iapp-entry-details-demographics-overview-bar iapp-js-entry-demo-overview"></div>
    </div>
    <div class="iapp-entry-details-demographics-details iapp-js-entry-demo-details"></div>
</div>


<% if (!config.isMobile) { %>
</section>
<%}%>

