<div class="iapp-politician-index-show-button">Select a candidate</div>
<div class="iapp-politician-index-wrap"></div>
<div class="iapp-politician-index-sort-buttons">
    <span class="iapp-politician-index-sort-label iapp-politician-index-sort-text">Sort by: </span>
    <span class="iapp-politician-index-sort-button iapp-sort-button-name selected"> <span class="iapp-politician-index-sort-indicator"></span> <span class="iapp-politician-index-sort-text">Name</span></span>
    <span class="iapp-politician-index-sort-button iapp-sort-button-trend"> <span class="iapp-politician-index-sort-indicator"></span> <span class="iapp-politician-index-sort-text">Trending</span></span>
    <span class="iapp-politician-index-sort-button iapp-sort-button-party"> <span class="iapp-politician-index-sort-indicator"></span> <span class="iapp-politician-index-sort-text">Party</span></span>
</div>


