.iapp-entries-date-wrap {
    @media (max-width: $medium-break) {
        background: $new-blue;
        bottom: 0;
        height: 80px;
        position: fixed;
        width: 100%;
        z-index: 540;
    }
}

.iapp-loader {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.iapp-entries-wrap {
    background: transparentize($new-blue, 0.1);
    color: white;
    overflow: auto;
    position: relative;
    top: 0;
    width: 100%;
    @media (max-width: $medium-break) {
        padding-bottom: 80px;
    }
}

.iapp-entries-date-inner-wrap {
    font-family: "Futura Today Light", Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
    width: 270px;
}

.iapp-entries-date-selector {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    @include BoxShadowHelper(2);
    cursor: pointer;
    height: 60px;
    position: fixed;
    top: 50%;
    transition: all 250ms ease;
    transform: translate(0, -50%);
    width: 60px;
    img {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        background: rgba(255, 255, 255, 0.8);
        @include BoxShadowHelper(3);
    }

    @media(max-width: $medium-break) {
        position: absolute;
    }
}

.iapp-entries-date-previous {
    left: 0;
}

.iapp-entries-date-next {
    right: 0;
}

.iapp-entries-candidate-select-button {
    background: rgba(255, 255, 255, 0.5);
    color: $dark-grey;
    cursor: pointer;
    font-family: "Futura Today Normal", Arial, sans-serif;
    padding: 15px 0 10px 0;
    text-align: center;
    text-transform: uppercase;
    transition: all 250ms ease;
    width: 100%;
    &:hover {
        background: rgba(255, 255, 255, 0.8);
    }
}

.iapp-candidate-info {
    margin: 30px auto;
    width: 320px;
    .iapp-politician-item-portrait, .iapp-entries-info {
        display: inline-block;
        margin: 0 5px;
        text-align: left;
        vertical-align: top;
    }
    .iapp-entry-details-header {
        margin: 10px 0 0 0;
        text-align: left;
        vertical-align: top;
    }
    .iapp-entries-date {
        font-family: "Futura Today Normal", Arial, sans-serif;
        margin: 0;
        vertical-align: top;
    }


}
