.iapp-entries-date-wrap {
    border-bottom: solid 1px $light-grey;
    padding: 15px 0 10px 0;
}

.iapp-loader {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.iapp-entries-wrap {
    position: relative;
    top: 0;
    width: 100%;
}

.iapp-entries-date-inner-wrap {
    font-family: "Futura Today Light", Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
    width: 270px;
}

.iapp-entries-date-selector {
    cursor: pointer;
}

.iapp-entries-date-previous {
    float: left;
}

.iapp-entries-date-next {
    float: right;
}

.iapp-entries-candidate-select-button {
    border-top: solid 1px $medium-grey;
    cursor: pointer;
    font-family: "Futura Today Normal", Arial, sans-serif;
    padding: 15px 0 10px 0;
    text-align: center;
    width: 100%;
}
