.iapp-entry-details {
    display: table-cell;
    float: left;
    margin-right: 30px;
    width: 305px;
    height: 100%;

    @media (max-width: 950px) {
        height: 300px;
        padding: 15px 30px;
        width: 100%;
    }
}

.iapp-entry-module {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 30px;
}

.iapp-entry-details-header {
    font-family: "Futura Today Normal", Arial, sans-serif;
    text-align: center;
}

.republican .iapp-entry-details-header { color: $red2; }
.democrat .iapp-entry-details-header { color: $blue2; }

.iapp-entry-module-header {
    font-family: "Futura Today Light", Arial, sans-serif;
    margin: 0;
    text-align: center;
}

.iapp-entry-details-large-number {
    background: $light-grey;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 2em;
    margin: 10px 0 15px 0;
    position: relative;
    text-align: center;

    h3 {
        font-family: "Futura Today Light", Arial, sans-serif;
        font-size: 0.8em;
        margin: 0;
    }
    .iapp-arrow-down {
        bottom: -10px;
        left: 50%;
        position: absolute;
    }
}

/* Required for Down Triangle */
  .tri-down:before, .tri-down:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  .tri-down:before {
    bottom: -12px;
    left: 50%;

    /* If 1px darken stroke slightly */
    border-top-color: $medium-grey;
    border-width: 10px;
    border-bottom-color: $light-grey;
    transform: translate(-50%, 0);
  }

  /* Fill */
  .tri-down:after {
    bottom: -10px;
    left: 50%;
    border-top-color: $light-grey;
    border-width: 10px;
    transform: translate(-50%, 0);
  }

.iapp-arrow-down {
    display:none;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;	
    border-top: 10px solid $light-grey;
}

.iapp-entry-details-large-number-unit {
    font-size: 0.5em;
}

.iapp-entry-details-demographics-overall {

    padding-top: 10px;
}

.iapp-entry-details-demographics-overview-bar {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.iapp-entry-details-demographics-overall-headers {
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 1em;
    text-align: center;

    span {
        margin: 5px;
    }
}

.iapp-entry-details-trend {
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
}


.iapp-entry-wrapper {
    @extend .group;
    height: calc(100%);
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.iapp-entry-details-demographics {
    margin-top: 20px;
    // width: 245px;

    @media (max-width: 950px) {
        float: right;
        margin-top: 0;
    }
}

.iapp-detail-summary {
    max-width: 300px;

    @media (max-width: 950px) {
        float: left;
    }
    @media (min-width: 950px) {
        &.slide {
            margin-top: 200px;
        }
    }
}

.iapp-entry-details-demographics svg {
    display: block;
    margin: 0 auto;
}


.iapp-demo-headers-female {color: $medium-grey;}
.iapp-demo-headers-male {color: $dark-grey;}

.iapp-fb-unit-badge {
    background-color: #4A6DB4;
    border-radius: 2px;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 5px;
    vertical-align: top;
    width: 210px;
    img {
        margin-right: 5px;
        width: 16px;
    }
}

/******
*Map styles
******/


.iapp-entry-map {
    float: left;
    // position: relative;
    padding-top: 30px;
    width: 654px;
    @media (max-width: 950px) {
        float: none;
        margin: 0 auto;
        padding-top: 0;
    }
}

.iapp-map-header {
    font-family: "Futura Today Normal", Arial, sans-serif;
    font-size: 1.25em;
    margin-left: 25px;
    @media (max-width: 950px) {
        font-size: 1.2em;
        margin: 10px 0;
    }
}

.iapp-entry-map-svg {
    display: block;
    margin: 0 auto;
}

.iapp-map-tooltip {
    background-color: rgba(74, 74, 74, 0.9);
    border-radius: 5px;
    color: white;
    font-family: "Futura Today Light", Arial, sans-serif;
    padding: 10px;
    position: absolute;
    width: 200px;
    z-index: 500;
}

.iapp-tooltip-state {
    border-bottom: solid 1px white;
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 0.8em;
    margin: 0;
}

.iapp-tooltip-interactions {
    font-size: 0.8em;
    marign: 0;
}

.iapp-hidden {
    display: none;
}
