.iapp-info-panel {
    bottom: 0;
    color: white;
    font-family: "Futura Today Light", Arial, sans-serif;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 550;
    strong {
        font-family: "Futura Today DemiBold", Arial, sans-serif;
        font-weight: 400;
    }

    &.iapp-hide {
        z-index: -1;
        .iapp-info-panel-inner {
            transform: translate(0, 100%);
        }
    }

    .iapp-info-panel-inner {
        background: $new-blue;
        padding: 25px;
        transition: transform 300ms ease;
        transform: translate(0, 0);
    }
}


.iapp-info-close {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
}

.iapp-info-header {
    font-family: "Futura Today DemiBold", Arial, sans-serif;
    font-weight: 400;
    margin: 0.5em auto;
}

.iapp-info-button {
    cursor: pointer;
    position: absolute;
    bottom: 140px;
    left: 25px;
    z-index: 550;
}
