$itemSize: 90px;

.iapp-politician-index-item {
    cursor: pointer;
    margin: 0 9px 40px 9px;
    position: relative;
    text-align: center;
    width: 200px;
    @media(max-width: $small-break) {
        width: 120px;
    }
}

.item-selected .iapp-politician-index-item {
    .iapp-politician-item-portrait {
        // opacity: 0.5;
    }
    &.selected {
        .iapp-politician-item-portrait {
            opacity: 1;
        }
    }
}

.iapp-politician-item-portrait {
    border-radius: 50%;
    height: $itemSize;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: $itemSize;
    img {
        max-width: 100%;
    }

    &.republican {border: solid 3px $red2;}
    &.democrat {border: solid 3px $blue2;}
}

.iapp-politician-item-portrait-inner {
    // border: solid 2px white;
    // border-radius: 50%;
    // height: $itemSize;
    // width: $itemSize;
}

.iapp-politician-header {
    font-family: "Futura Today Normal", Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 5px 0 10px 0;
}

.iapp-politician-item-trend {
    position: absolute;
    right: 40px;
    top: 45px;
    width: 36px;
    @media(max-width: $small-break) {
        right: 10px;
        top: 50px;
    }
}
