.iapp-politician-index-wrap {

    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 25px 0 25px 0;
    position: relative;
    z-index: 505;
}


.iapp-politician-index {
    background: $new-blue;
    color: white;
    @include BoxShadowHelper(2);
    min-height: 100%;
    padding-bottom: 50px;
    position: absolute;
    width: 100%;
    z-index: 505;
}

.iapp-politician-index-show-button {
    // background-color: rgba(255, 255, 255, 0.95);
    border-bottom: solid 1px $light-grey;
    border-top: solid 1px $light-grey;
    @include BoxShadowHelper(1);
    color: $light-grey;
    cursor: pointer;
    font-family: "Futura Today Light", Arial, sans-serif;
    // opacity: 0.8;
    padding: 15px 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 500ms ease;
    width: 100%;
    z-index: 500;
    &:hover {
        opacity: 1;
    }
}

.iapp-politician-index-sort-indicator {
    border-radius: 50%;
    border: solid 1px white;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.iapp-politician-index-sort-buttons {
    display: none;
}

.expanded .iapp-politician-index-sort-buttons {
    display: block;
    margin: 0 auto;
    width: 350px;
}

.iapp-politician-index-sort-text {
    display: inline-block;
    transform: translate(0, -6px);
}

.iapp-politician-index-sort-label {
    font-family: "Futura Today Light", Arial, sans-serif;
}

.iapp-politician-index-sort-button {
    cursor: pointer;
    font-family: "Futura Today Light", Arial, sans-serif;
    padding: 5px;
    margin: 0 5px;

    &.selected {
        .iapp-politician-index-sort-indicator {
            background-color: white;
        }
    }
}


