.iapp-share-button {
    cursor: pointer;
    display: block;
    float: left;
    // margin: 1em auto 0 auto;
    width: 60px;
    img {
        display: block;
    }
    @media(max-width: $medium-break) {
        width: 40px;
    }
}

.iapp-header-share-wrap {
    display: inline-block;
    float: right;
    @media(max-width: $medium-break) {
        display: block;
        float: none;
        margin-top: 10px;
    }
}
