.iapp-line {
    fill: none;
    stroke: $light-grey;
    stroke-width: 1.5px;
 }

.iapp-chart-point {
    fill: $light-grey;
}

.iapp-weeks-chart {
    position: absolute;
    left: 345px;
    bottom: 0;
}